<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <File name="warn" fileName="logs\mars_photos_warn.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <LevelRangeFilter minlevel="warn" maxlevel="warn" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="info" fileName="logs\mars_photos_info.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <LevelRangeFilter minlevel="info" maxlevel="info" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="error" fileName="logs\mars_photos_error.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <LevelRangeFilter minlevel="error" maxlevel="error" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>

        <File name="exception" fileName="logs\mars_photos_exception.log" immediateFlush="true">
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <LevelRangeFilter minlevel="fatal" maxlevel="fatal" onMatch="ACCEPT" onMismatch="DENY"/>
        </File>
    </appenders>

    <loggers>
        <Root level="all">
            <AppenderRef ref="warn" level="warn"/>
            <AppenderRef ref="info" level="info"/>
            <AppenderRef ref="error" level="error"/>
            <AppenderRef ref="exception" level="fatal"/>
        </Root>
    </loggers>
</configuration>